<div class="bg-container"></div>

<div class="animate-logo">
    <div class="logo-title">
    <a href="index.html">
        <div class="logo-title-box" >
            <span class=""><img src="app/images/Pactera_logo.png" border="0" width="230" style="margin-right:10px;"/></span>
            <span class="sp-title-thin dashed"></span>
            <span class="sp-title-thick"></span>
            <!-- <span class="sp-title-version">v1.0</span> -->
            <span class="sp-title-tag">FRONT END</span>
        </div>
        </a>
    </div>
</div>

<div class="app-container" style="height: 0px !important; margin-top: 240px;">
    <div class="row-centered margin-compressed">
        <div class="app-button">
            <div class="col-sm-2 col-md-2 col-centered">
                <a class="animation-app">
                    <span class="add-component-app-icon" ui-sref="html5">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                          <title>HTML5 Logo</title>
                          
                          <polygon fill="#E44D26" points="107.644,470.877 74.633,100.62 437.367,100.62 404.321,470.819 255.778,512          "/>
                          <polygon fill="#F16529" points="256,480.523 376.03,447.246 404.27,130.894 256,130.894             "/>
                          <polygon fill="#EBEBEB" points="256,268.217 195.91,268.217 191.76,221.716 256,221.716 256,176.305 255.843,176.305 142.132,176.305 143.219,188.488 154.38,313.627 256,313.627"/>
                          <polygon fill="#EBEBEB" points="256,386.153 255.801,386.206 205.227,372.55 201.994,336.333 177.419,336.333 156.409,336.333 162.771,407.634 255.791,433.457 256,433.399"/>
                          <path d="M108.382,0h23.077v22.8h21.11V0h23.078v69.044H152.57v-23.12h-21.11v23.12h-23.077V0z"/>
                          <path d="M205.994,22.896h-20.316V0h63.72v22.896h-20.325v46.148h-23.078V22.896z"/>
                          <path d="M259.511,0h24.063l14.802,24.26L313.163,0h24.072v69.044h-22.982V34.822l-15.877,24.549h-0.397l-15.888-24.549v34.222h-22.58V0z"/>
                          <path d="M348.72,0h23.084v46.222h32.453v22.822H348.72V0z"/>
                          <polygon fill="#FFFFFF" points="255.843,268.217 255.843,313.627 311.761,313.627 306.49,372.521 255.843,386.191 255.843,433.435 348.937,407.634 349.62,399.962 360.291,280.411 361.399,268.217 349.162,268.217"/>
                          <polygon fill="#FFFFFF" points="255.843,176.305 255.843,204.509 255.843,221.605 255.843,221.716 365.385,221.716 365.385,221.716 365.531,221.716 366.442,211.509 368.511,188.488 369.597,176.305"/>
                        </svg>
                        </span>
                    <div class="link-title app-label margin-bottom-20">HTML5</div></a>
            </div>
            <div class="col-sm-2 col-md-2 col-centered">
                <a class="animation-app">
                    <span class="add-component-app-icon" ui-sref="css3">
                         <svg
                           xmlns:dc="http://purl.org/dc/elements/1.1/"
                           xmlns:cc="http://creativecommons.org/ns#"
                           xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                           xmlns:svg="http://www.w3.org/2000/svg"
                           xmlns="http://www.w3.org/2000/svg"
                           xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                           xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                           width="150px"
                           height="150px"
                           viewBox="0 0 362.73401 511.99998"
                           id="svg3476"
                           version="1.1"
                           inkscape:version="0.91 r13725"
                           sodipodi:docname="CSS3.svg">
                          <defs
                             id="defs3478" />
                          <sodipodi:namedview
                             id="base"
                             pagecolor="#ffffff"
                             bordercolor="#666666"
                             borderopacity="1.0"
                             inkscape:pageopacity="0.0"
                             inkscape:pageshadow="2"
                             inkscape:zoom="0.35"
                             inkscape:cx="181.367"
                             inkscape:cy="256"
                             inkscape:document-units="px"
                             inkscape:current-layer="layer1"
                             showgrid="false"
                             fit-margin-top="0"
                             fit-margin-left="0"
                             fit-margin-right="0"
                             fit-margin-bottom="0"
                             inkscape:window-width="1366"
                             inkscape:window-height="704"
                             inkscape:window-x="0"
                             inkscape:window-y="27"
                             inkscape:window-maximized="1" />
                          <metadata
                             id="metadata3481">
                            <rdf:RDF>
                              <cc:Work
                                 rdf:about="">
                                <dc:format>image/svg+xml</dc:format>
                                <dc:type
                                   rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                                <dc:title></dc:title>
                              </cc:Work>
                            </rdf:RDF>
                          </metadata>
                          <g
                             inkscape:label="Calque 1"
                             inkscape:groupmode="layer"
                             id="layer1"
                             transform="translate(-193.633,-276.3622)">
                            <g
                               id="g3013"
                               transform="translate(119,276.3622)">
                              <polygon
                                 id="polygon2989"
                                 points="437.367,100.62 404.321,470.819 255.778,512 107.644,470.877 74.633,100.62 "
                                 style="fill:#264de4" />
                              <polygon
                                 id="polygon2991"
                                 points="376.03,447.246 404.27,130.894 256,130.894 256,480.523 "
                                 style="fill:#2965f1" />
                              <polygon
                                 id="polygon2993"
                                 points="150.31,268.217 154.38,313.627 256,313.627 256,268.217 "
                                 style="fill:#ebebeb" />
                              <polygon
                                 id="polygon2995"
                                 points="256,176.305 255.843,176.305 142.132,176.305 146.26,221.716 256,221.716 "
                                 style="fill:#ebebeb" />
                              <polygon
                                 id="polygon2997"
                                 points="256,433.399 256,386.153 255.801,386.206 205.227,372.55 201.994,336.333 177.419,336.333 156.409,336.333 162.771,407.634 255.791,433.457 "
                                 style="fill:#ebebeb" />
                              <path
                                 id="path2999"
                                 d="m 160,0 55,0 0,23 -32,0 0,23 32,0 0,23 -55,0 z"
                                 inkscape:connector-curvature="0" />
                              <path
                                 id="path3001"
                                 d="m 226,0 55,0 0,20 -32,0 0,4 32,0 0,46 -55,0 0,-21 32,0 0,-4 -32,0 z"
                                 inkscape:connector-curvature="0" />
                              <path
                                 id="path3003"
                                 d="m 292,0 55,0 0,20 -32,0 0,4 32,0 0,46 -55,0 0,-21 32,0 0,-4 -32,0 z"
                                 inkscape:connector-curvature="0" />
                              <polygon
                                 id="polygon3005"
                                 points="311.761,313.627 306.49,372.521 255.843,386.191 255.843,433.435 348.937,407.634 349.62,399.962 360.291,280.411 361.399,268.217 369.597,176.305 255.843,176.305 255.843,221.716 319.831,221.716 315.699,268.217 255.843,268.217 255.843,313.627 "
                                 style="fill:#ffffff" />
                            </g>
                          </g>
                        </svg>

                    </span>
                    <div class="link-title app-label margin-bottom-20">CSS3</div></a>
            </div>
			<div class="col-sm-2 col-md-2 col-centered">
                <a class="animation-app">
                    <span class="add-component-app-icon" ui-sref="kendoui">
                        <img src="app/images/img/kendo-ui-14d0d15f668334e9af9d2c36cfc9a530.png" width="150" / >
                    </span>
                    <div class="link-title app-label margin-bottom-20">KENDO UI</div></a>
            </div>			
            <div class="col-sm-2 col-md-2 col-centered">
                <a class="animation-app">
                    <span class="add-component-app-icon" ui-sref="angular">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 250 250" style="enable-background:new 0 0 250 250;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#DD0031;}
                            .st1{fill:#C3002F;}
                            .st2{fill:#FFFFFF;}
                        </style>
                        <g>
                            <polygon class="st0" points="125,30 125,30 125,30 31.9,63.2 46.1,186.3 125,230 125,230 125,230 203.9,186.3 218.1,63.2   "/>
                            <polygon class="st1" points="125,30 125,52.2 125,52.1 125,153.4 125,153.4 125,230 125,230 203.9,186.3 218.1,63.2 125,30     "/>
                            <path class="st2" d="M125,52.1L66.8,182.6h0h21.7h0l11.7-29.2h49.4l11.7,29.2h0h21.7h0L125,52.1L125,52.1L125,52.1L125,52.1
                                L125,52.1z M142,135.4H108l17-40.9L142,135.4z"/>
                        </g>
                        </svg>
                    </span>
                    <div class="link-title app-label margin-bottom-20">ANGULAR JS</div></a>
            </div>

			
        </div>
    </div>
</div><!-- /.landing-container -->

<!--footer-->
<div class="landing-footer-link">
    <div class="pull-left">
        
    </div>
    <div class="pull-right credit">
        
    </div>
</div>
</div>
